<form action="/insert" method="post">
        <div class="input">
            <label for="productname">productname</label>
            <input type="text" id="productname" name="productname">
        </div>
        <div class="input">
            <label for="productcode">productcode</label>
            <input type="text" id="productcode" name="productcode">
        </div>
        <div class="input">
            <label for="producttype">producttype</label>
            <input type="text" id="producttype" name="producttype">
        </div>
        <div class="input">
            <label for="status">ststus</label>
            <input type="text" id="status" name="status">
        </div>
        <button type="submit">INSERT</button>
    </form>