
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#top{
  display: flex;
  flex-flow:row wrap;
}

#search{
  margin-left: auto;
  border: black solid 1px; 
  padding: 2px;;
 }
#pagination {
  float: right;
  padding: 2px;
  border: black solid 1px; 
  width:25%
}

table
 {
   float :left;
  border: black solid 1px;
   border-collapse:collapse;
   width:70%
  }
  td,th
   {
     height:40px;
     border-bottom:1px solid grey;
      text-align:center
    }
  